.signup-container {
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin: 0 auto;
    margin-top: 15vh;
    padding: 3rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.25rem;
    row-gap: 1rem;

    & button {
        width: 65%;
        margin: 0.5rem auto 0 auto;
    }
}

.title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}

.login {
    text-align: center;
    margin-top: 0.5rem;

    & span {
        color: var(--primary);
        cursor: pointer;
    }
    
}

@media only screen and (max-width: 500px) {
    .signup-container {
        width: 20rem;
    }
}
