.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 5%;
    column-gap: 2rem;
    row-gap: 1rem;
}

.description {
    flex: 1;
    min-width: 25rem;
    margin: 5% 0;

    & h2 {
        margin-bottom: 3rem;
        max-width: 20rem;
    }

    & p {
        max-width: 40rem;
    }
}


.image {
    flex: 1;
    min-width: 25rem;
    max-width: 40rem;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    .container {
        padding: 3rem 5%;
    }

    .description {
        text-align: center;

        & h2 {
            max-width: 100%;
        }

        & p {
            max-width: 100%;
        }
    }
}